 .u-section-1 {
  background-image: none;
  min-height: 591px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 591px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 30px 40px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center 0px;
  margin: 153px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.8;
  margin: 23px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 739px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 524px;
  height: 574px;
  margin: 63px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 487px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 609px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 570px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-1 .u-image-1 {
    width: 384px;
    height: 421px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 554px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 52px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 386px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 351px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 354px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 71px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 54px 48px 60px 78px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 60px auto;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 752px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 74px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 31.5px) calc(50% - 31.5px);
  min-height: 391px;
  grid-gap: 63px 63px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-icon-1 {
  height: 94px;
  width: 94px;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: -25px auto 0;
  padding: 10px;
}

.u-section-4 .u-text-3 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: normal;
  margin: 15px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1.5rem;
  border-style: solid;
  text-transform: none;
  font-family: Poppins;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  margin: 25px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-icon-2 {
  height: 94px;
  width: 94px;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: -25px auto 0;
  padding: 10px;
}

.u-section-4 .u-text-5 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 15px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 1.5rem;
  border-style: solid;
  text-transform: none;
  font-family: Poppins;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 318px;
  }

  .u-section-4 .u-btn-1 {
    padding: 12px 31px 12px 30px;
  }

  .u-section-4 .u-btn-2 {
    padding: 12px 31px 12px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -28px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -28px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 31.5px) calc(50% - 31.5px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1502px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 30px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: linear-gradient(#f1c50e, #2cccc4);
}

.u-section-5 .u-sheet-1 {
  min-height: 349px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/f60c2979fc1cfc6f1b6663a63d37bdfdca7da99fae1545ae2e3aaef2e501aa2c0b5bfa0236789a822f2fc372e8f18357cf803973aae185a4821433_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-5 .u-container-layout-2 {
  padding: 12px 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 21px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: linear-gradient(#2cccc4, white);
}

.u-section-6 .u-sheet-1 {
  min-height: 349px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/8930e8a0af93d81fc6a06bcc825ed5f8bc912f0a1b1d7acd25fce81e90a6b268b46eb5b28ac6e89f6356d553cda5b56e8c763cf64df2090e60bbd7_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-6 .u-container-layout-2 {
  padding: 11px 28px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 1px auto 0 2px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 19px 2px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-block-a403-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a403-3 {
  position: absolute;
  left: 0;
}

.u-block-a403-4 {
  position: absolute;
  right: 0;
}

 .u-section-7-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/12680404-02.jpeg");
  background-position: 50% 50%;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 281px auto 0;
}

.u-section-7-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  width: 875px;
  margin: 52px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-7-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-7-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-7-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-7-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7-1 .u-text-2 {
    width: 340px;
  }
}

 .u-section-7-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/12680404-02.jpeg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 76px auto 0 399px;
}

.u-section-7-2 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 18px auto 0 320px;
}

.u-section-7-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 13px 293px 0 253px;
}

.u-section-7-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 26px auto 0 62px;
}

.u-section-7-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 13px 484px 0 62px;
}

.u-section-7-2 .u-image-1 {
  width: 752px;
  height: 201px;
  margin: 26px auto 0;
}

.u-section-7-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 20px 26px 60px 52px;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7-2 .u-text-1 {
    width: 239px;
    margin-left: 329px;
  }

  .u-section-7-2 .u-text-2 {
    margin-left: 264px;
  }

  .u-section-7-2 .u-text-3 {
    margin-right: 193px;
    margin-left: 153px;
  }

  .u-section-7-2 .u-text-5 {
    margin-right: 284px;
  }

  .u-section-7-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-7-2 .u-text-1 {
    margin-left: 252px;
  }

  .u-section-7-2 .u-text-2 {
    margin-left: 202px;
  }

  .u-section-7-2 .u-text-3 {
    margin-right: 83px;
    margin-left: 43px;
  }

  .u-section-7-2 .u-text-5 {
    margin-right: 64px;
  }

  .u-section-7-2 .u-image-1 {
    width: 720px;
    height: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-7-2 .u-text-1 {
    margin-left: 189px;
  }

  .u-section-7-2 .u-text-2 {
    margin-left: 152px;
    font-size: 3.75rem;
  }

  .u-section-7-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7-2 .u-image-1 {
    width: 540px;
    height: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-7-2 .u-text-1 {
    margin-left: 119px;
  }

  .u-section-7-2 .u-text-2 {
    margin-left: 96px;
    font-size: 3rem;
  }

  .u-section-7-2 .u-image-1 {
    width: 340px;
    height: 91px;
  }
}

 .u-section-7-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/12680404-02.jpeg");
  background-position: 50% 50%;
}

.u-section-7-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 81px auto 0 399px;
}

.u-section-7-3 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 13px auto 0 277px;
}

.u-section-7-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 13px 235px 0 194px;
}

.u-section-7-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 26px auto 0 62px;
}

.u-section-7-3 .u-image-1 {
  width: 706px;
  height: 281px;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7-3 .u-text-1 {
    width: 239px;
    margin-left: 329px;
  }

  .u-section-7-3 .u-text-3 {
    margin-right: 135px;
    margin-left: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-7-3 .u-text-1 {
    margin-left: 252px;
  }

  .u-section-7-3 .u-text-2 {
    margin-left: 212px;
  }

  .u-section-7-3 .u-text-3 {
    margin-right: 9px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-7-3 .u-text-1 {
    margin-left: 189px;
  }

  .u-section-7-3 .u-text-2 {
    margin-left: 159px;
    font-size: 3.75rem;
  }

  .u-section-7-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7-3 .u-image-1 {
    width: 540px;
    height: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-7-3 .u-text-1 {
    margin-left: 119px;
  }

  .u-section-7-3 .u-text-2 {
    margin-left: 100px;
    font-size: 3rem;
  }

  .u-section-7-3 .u-image-1 {
    width: 340px;
    height: 135px;
  }
}

 .u-section-7-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/12680404-02.jpeg");
  background-position: 50% 50%;
}

.u-section-7-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 81px auto 0 399px;
}

.u-section-7-4 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 13px auto 0 277px;
}

.u-section-7-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 13px 293px 0 253px;
}

.u-section-7-4 .u-text-4 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 26px auto 0 62px;
}

.u-section-7-4 .u-image-1 {
  width: 647px;
  height: 270px;
  margin: 12px auto 0 214px;
}

.u-section-7-4 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 20px 213px 60px 161px;
}

@media (max-width: 1199px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7-4 .u-text-1 {
    width: 239px;
    margin-left: 329px;
  }

  .u-section-7-4 .u-text-3 {
    margin-right: 193px;
    margin-left: 153px;
  }

  .u-section-7-4 .u-text-5 {
    margin-right: 113px;
    margin-left: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-7-4 .u-text-1 {
    margin-left: 252px;
  }

  .u-section-7-4 .u-text-2 {
    margin-left: 212px;
  }

  .u-section-7-4 .u-text-3 {
    margin-right: 83px;
    margin-left: 43px;
  }

  .u-section-7-4 .u-image-1 {
    margin-left: 73px;
  }

  .u-section-7-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-7-4 .u-text-1 {
    margin-left: 189px;
  }

  .u-section-7-4 .u-text-2 {
    margin-left: 159px;
    font-size: 3.75rem;
  }

  .u-section-7-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7-4 .u-image-1 {
    width: 540px;
    height: 225px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-7-4 .u-text-1 {
    margin-left: 119px;
  }

  .u-section-7-4 .u-text-2 {
    margin-left: 100px;
    font-size: 3rem;
  }

  .u-section-7-4 .u-image-1 {
    width: 340px;
    height: 142px;
  }
}

 .u-section-7-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/12680404-02.jpeg");
  background-position: 50% 50%;
}

.u-section-7-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 81px auto 0 399px;
}

.u-section-7-5 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 13px auto 0 277px;
}

.u-section-7-5 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 13px 293px 0 253px;
}

.u-section-7-5 .u-text-4 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 26px auto 0 62px;
}

.u-section-7-5 .u-image-1 {
  width: 695px;
  height: 127px;
  margin: 51px auto 0 203px;
}

.u-section-7-5 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 20px 102px 60px 125px;
}

@media (max-width: 1199px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7-5 .u-text-1 {
    width: 239px;
    margin-left: 329px;
  }

  .u-section-7-5 .u-text-3 {
    margin-right: 193px;
    margin-left: 153px;
  }

  .u-section-7-5 .u-text-5 {
    margin-right: 2px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-7-5 .u-text-1 {
    margin-left: 252px;
  }

  .u-section-7-5 .u-text-2 {
    margin-left: 212px;
  }

  .u-section-7-5 .u-text-3 {
    margin-right: 83px;
    margin-left: 43px;
  }

  .u-section-7-5 .u-image-1 {
    margin-left: 25px;
  }

  .u-section-7-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-7-5 .u-text-1 {
    margin-left: 189px;
  }

  .u-section-7-5 .u-text-2 {
    margin-left: 159px;
    font-size: 3.75rem;
  }

  .u-section-7-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7-5 .u-image-1 {
    width: 540px;
    height: 99px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-7-5 .u-text-1 {
    margin-left: 119px;
  }

  .u-section-7-5 .u-text-2 {
    margin-left: 100px;
    font-size: 3rem;
  }

  .u-section-7-5 .u-image-1 {
    width: 340px;
    height: 62px;
  }
}

 .u-section-7-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/12680404-02.jpeg");
  background-position: 50% 50%;
}

.u-section-7-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 81px auto 0 399px;
}

.u-section-7-6 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 6px auto 0 311px;
}

.u-section-7-6 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 20px 207px 0 185px;
}

.u-section-7-6 .u-text-4 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 26px auto 0 62px;
}

.u-section-7-6 .u-image-1 {
  width: 866px;
  height: 122px;
  margin: 42px auto 0;
}

.u-section-7-6 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 42px 114px 60px;
}

@media (max-width: 1199px) {
  .u-section-7-6 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7-6 .u-text-1 {
    width: 239px;
    margin-left: 329px;
  }

  .u-section-7-6 .u-text-3 {
    margin-right: 107px;
    margin-left: 85px;
  }

  .u-section-7-6 .u-image-1 {
    margin-left: 25px;
  }

  .u-section-7-6 .u-text-5 {
    margin-right: 2px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-7-6 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-7-6 .u-text-1 {
    margin-left: 252px;
  }

  .u-section-7-6 .u-text-2 {
    margin-left: 238px;
  }

  .u-section-7-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7-6 .u-image-1 {
    width: 720px;
    height: 101px;
    margin-left: 0;
  }

  .u-section-7-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7-6 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-7-6 .u-text-1 {
    margin-left: 189px;
  }

  .u-section-7-6 .u-text-2 {
    margin-left: 179px;
    font-size: 3.75rem;
  }

  .u-section-7-6 .u-image-1 {
    width: 540px;
    height: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-7-6 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-7-6 .u-text-1 {
    margin-left: 119px;
  }

  .u-section-7-6 .u-text-2 {
    margin-left: 113px;
    font-size: 3rem;
  }

  .u-section-7-6 .u-image-1 {
    width: 340px;
    height: 48px;
    margin-left: auto;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 65px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 367px;
  }
}.u-block-eb8e-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-eb8e-3 {
  position: absolute;
  left: 0;
}

.u-block-eb8e-4 {
  position: absolute;
  right: 0;
}

 .u-section-9-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/12680404-02.jpeg");
  background-position: 50% 50%;
}

.u-section-9-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-9-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 265px auto 0;
}

.u-section-9-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  width: 875px;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-9-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-9-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-9-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-9-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-9-1 .u-text-2 {
    width: 340px;
  }
}

 .u-section-9-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/12680404-02.jpeg");
  background-position: 50% 50%;
}

.u-section-9-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-9-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 75px auto 0;
}

.u-section-9-2 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 9px auto 0;
}

.u-section-9-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-9-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 45px auto 0 20px;
}

.u-section-9-2 .u-image-1 {
  width: 521px;
  height: 123px;
  margin: 16px auto 0 288px;
}

.u-section-9-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-9-2 .u-image-2 {
  width: 594px;
  height: 175px;
  margin: 20px auto 54px 251px;
}

@media (max-width: 1199px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-9-2 .u-image-1 {
    margin-left: 199px;
  }

  .u-section-9-2 .u-image-2 {
    margin-left: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-9-2 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-9-2 .u-image-1 {
    margin-left: 19px;
  }

  .u-section-9-2 .u-image-2 {
    width: 540px;
    height: 159px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-9-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-9-2 .u-image-1 {
    width: 340px;
    height: 80px;
    margin-left: 0;
  }

  .u-section-9-2 .u-image-2 {
    width: 340px;
    height: 100px;
  }
}

 .u-section-9-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/12680404-02.jpeg");
  background-position: 50% 50%;
}

.u-section-9-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-9-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 75px auto 0;
}

.u-section-9-3 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 9px auto 0;
}

.u-section-9-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-9-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 45px auto 0 20px;
}

.u-section-9-3 .u-image-1 {
  width: 539px;
  height: 270px;
  margin: 20px auto 0 0;
}

.u-section-9-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -189px 67px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-9-3 .u-text-5 {
    margin-right: 0;
    margin-left: 437px;
  }
}

@media (max-width: 991px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-9-3 .u-text-5 {
    margin-left: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-9-3 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-9-3 .u-text-5 {
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-9-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-9-3 .u-image-1 {
    width: 340px;
    height: 171px;
  }

  .u-section-9-3 .u-text-5 {
    margin-top: -90px;
    margin-left: 0;
  }
}

 .u-section-9-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/12680404-02.jpeg");
  background-position: 50% 50%;
}

.u-section-9-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-9-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 75px auto 0;
}

.u-section-9-4 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 9px auto 0;
}

.u-section-9-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-9-4 .u-text-4 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 45px auto 0 20px;
}

.u-section-9-4 .u-image-1 {
  width: 490px;
  height: 274px;
  margin: 14px auto 0;
}

.u-section-9-4 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-9-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-9-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-9-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-9-4 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-9-4 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-9-4 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-9-4 .u-image-1 {
    width: 340px;
    height: 190px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 243px;
}

.u-section-10 .u-text-1 {
  background-image: none;
  font-size: 3.75rem;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    height: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 552px;
}

.u-section-11 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-11 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-11 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 22px auto 0;
  padding: 2px 0;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-11 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-11 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-11 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 22px auto 0;
  padding: 2px 0;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-icon-3 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-11 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-11 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-11 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 22px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 552px;
}

.u-section-12 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-12 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 388px;
  grid-gap: 10px 10px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-12 .u-text-1 {
  margin: 18px auto 0;
}

.u-section-12 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-12 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-12 .u-text-3 {
  margin: 18px auto 0;
}

.u-section-12 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-12 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-12 .u-repeater-1 {
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}