 .u-section-1 {
  background-image: none;
  min-height: 6972px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1190px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 504px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 23px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  transform-origin: left center 0px;
  margin: 23px auto 0 10px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 400;
  margin: 17px 10px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.8;
  font-weight: 700;
  margin: 25px 141px 0 10px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 3rem;
  margin: 52px auto 0 calc(((100% - 1140px) / 2) + 30px);
}

.u-section-1 .u-text-4 {
  margin: 36px calc(((100% - 1140px) / 2) + 691px) 0 calc(((100% - 1140px) / 2) + 44px);
}

.u-section-1 .u-image-1 {
  width: 1000px;
  height: 976px;
  margin: 17px auto 0 calc(((100% - 1140px) / 2) + 44px);
}

.u-section-1 .u-text-5 {
  margin: 36px calc(((100% - 1140px) / 2) + 728px) 0 calc(((100% - 1140px) / 2) + 44px);
}

.u-section-1 .u-image-2 {
  width: 1000px;
  height: 723px;
  margin: 36px auto 0 calc(((100% - 1140px) / 2) + 44px);
}

.u-section-1 .u-text-6 {
  margin: 45px calc(((100% - 1140px) / 2) + 741px) 0 calc(((100% - 1140px) / 2) + 44px);
}

.u-section-1 .u-image-3 {
  width: 1000px;
  height: 709px;
  margin: 36px auto 0 calc(((100% - 1140px) / 2) + 44px);
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 3rem;
  margin: 52px auto 0 calc(((100% - 1140px) / 2) + 30px);
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.8;
  font-weight: normal;
  margin: 25px calc(((100% - 1140px) / 2) + 96px) 0 calc(((100% - 1140px) / 2) + 45px);
}

.u-section-1 .u-image-4 {
  width: 433px;
  height: 81px;
  margin: 10px auto 0 calc(((100% - 1140px) / 2) + 102px);
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.8;
  margin: 17px calc(((100% - 1140px) / 2) + 96px) 0 calc(((100% - 1140px) / 2) + 45px);
}

.u-section-1 .u-image-5 {
  width: 138px;
  height: 26px;
  margin: -26px auto 0 calc(((100% - 1140px) / 2) + 261px);
}

.u-section-1 .u-text-10 {
  margin: 69px calc(((100% - 1140px) / 2) + 735px) 0 calc(((100% - 1140px) / 2) + 51px);
}

.u-section-1 .u-image-6 {
  width: 621px;
  height: 380px;
  margin: 23px auto 0 calc(((100% - 1140px) / 2) + 69px);
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.8;
  font-weight: normal;
  margin: -303px calc(((100% - 1140px) / 2) + 80px) 0 calc(((100% - 1140px) / 2) + 770px);
}

.u-section-1 .u-text-12 {
  margin: 180px calc(((100% - 1140px) / 2) + 682px) 0 calc(((100% - 1140px) / 2) + 51px);
}

.u-section-1 .u-image-7 {
  width: 1069px;
  height: 1042px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 64px calc(((100% - 1140px) / 2) + 555px) 0 calc(((100% - 1140px) / 2) + 44px);
}

.u-section-1 .u-image-8 {
  width: 949px;
  height: 360px;
  margin: 17px auto 0 calc(((100% - 1140px) / 2) + 51px);
}

.u-section-1 .u-text-14 {
  margin: 54px calc(((100% - 1140px) / 2) + 360px) 0 calc(((100% - 1140px) / 2) + 51px);
}

.u-section-1 .u-image-9 {
  width: 939px;
  height: 336px;
  margin: 10px auto 0 calc(((100% - 1140px) / 2) + 51px);
}

.u-section-1 .u-text-15 {
  margin: 54px calc(((100% - 1140px) / 2) + 342px) 0 calc(((100% - 1140px) / 2) + 51px);
}

.u-section-1 .u-image-10 {
  width: 483px;
  height: 311px;
  margin: 25px auto 60px calc(((100% - 1140px) / 2) + 55px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 6591px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-weight: 600;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2) + 30px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 535px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 917px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 572px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 679px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-top: -2159px;
    margin-right: calc(((100% - 940px) / 2) + 585px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 940px;
    height: 666px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 940px) / 2) + 30px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2) + 102px);
  }

  .u-section-1 .u-text-9 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2) + 261px);
  }

  .u-section-1 .u-text-10 {
    margin-top: 102px;
    margin-right: calc(((100% - 940px) / 2) + 586px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-6 {
    margin-top: 26px;
    margin-left: calc(((100% - 940px) / 2) + 69px);
  }

  .u-section-1 .u-text-11 {
    margin-top: -810px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 650px);
  }

  .u-section-1 .u-text-12 {
    margin-top: -292px;
    margin-right: calc(((100% - 940px) / 2) + 533px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-7 {
    width: 940px;
    height: 916px;
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + 399px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-8 {
    width: 940px;
    height: 357px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-14 {
    margin-top: -377px;
    margin-right: calc(((100% - 940px) / 2) + 211px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-9 {
    margin-top: 441px;
    margin-left: calc(((100% - 940px) / 2) + 1px);
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 940px) / 2) + 193px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 940px) / 2) + 55px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 5387px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 30px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 315px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 702px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 352px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 520px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 365px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 510px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2) + 30px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + 102px);
  }

  .u-section-1 .u-text-9 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2) + 261px);
  }

  .u-section-1 .u-text-10 {
    margin-top: 142px;
    margin-right: calc(((100% - 720px) / 2) + 366px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-6 {
    margin-top: -14px;
    margin-left: calc(((100% - 720px) / 2) + 69px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 430px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 720px) / 2) + 313px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-7 {
    width: 720px;
    height: 702px;
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2) + 179px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-8 {
    width: 720px;
    height: 273px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-9 {
    width: 720px;
    height: 258px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 720px) / 2) + 55px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 4598px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 52px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2) + 30px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 135px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 527px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 172px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 390px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + 185px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 383px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 540px) / 2) + 30px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + 102px);
  }

  .u-section-1 .u-text-9 {
    margin-top: 49px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2) + 261px);
  }

  .u-section-1 .u-text-10 {
    margin-top: 141px;
    margin-right: calc(((100% - 540px) / 2) + 186px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 330px;
    margin-top: -13px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-11 {
    margin-top: -792px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 250px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 540px) / 2) + 133px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 527px;
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 205px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 194px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-15 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 540px) / 2) + 55px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3543px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2) + 30px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 332px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 246px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-top: -2009px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 241px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-7 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2) + 30px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 64px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-top: 81px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 340px) / 2) + 202px);
  }

  .u-section-1 .u-text-10 {
    margin-top: -39px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 208px;
    margin-top: 129px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-11 {
    margin-top: -702px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 50px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 332px;
  }

  .u-section-1 .u-text-13 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 129px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-14 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 122px;
    margin-top: 403px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-15 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 219px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 386px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-2 .u-image-1 {
  width: 80px;
  height: 80px;
  margin: 28px auto 0;
}

.u-section-2 .u-line-1 {
  width: 100px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-2 {
  width: 769px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    height: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}